#container{
    border:1px solid red;
    display:grid;
    grid-template-columns: 20% 20% 30%;
    grid-template-rows: 150px 150px 200px;
    grid-gap:10px;
    width:80%;
    height:550px;
    margin:auto;
}
.boxes{
    border:1px solid red;
}
#box-2{
    grid-area:1/3/2/3;
}
#panner{
    width:100%;
    height:100%;
}
#pizza{
    width:100%;
    height:100%;
}
#box-6{
    grid-column-start: 1;
    grid-column-end:3;
    }
#box-5{
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end:4;
}